<a target="_blank" href="https://colab.research.google.com/github/thinh-vu/vnstock/blob/beta/demo/gen2_vnstock_demo_index_all_functions_testing_2023.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# I. Gi·ªõi thi·ªáu

B·∫°n c√≥ th·ªÉ tham kh·∫£o video h∆∞·ªõng d·∫´n t·ªïng quan v·ªÅ vnstock ƒë·ªÉ b·∫Øt ƒë·∫ßu d·ªÖ d√†ng [t·∫°i ƒë√¢y](https://www.youtube.com/watch?v=6kP2TTtEY9Y&ab_channel=LEarnAnything)

In [ ]:
# C√†i ƒë·∫∑t th∆∞ vi·ªán vnstock t·ª´ Pypi - b·∫£n ·ªïn ƒë·ªãnh | Install vnstock from Pypi - stable version
!pip install --upgrade vnstock

In [4]:
from vnstock import * #import all functions

# II. C√°c nh√≥m h√†m t√≠nh to√°n

Vi: Thu g·ªçn to√†n b·ªô code ·ªü m·ª•c n√†y, ch·∫°y code m·ªôt l·∫ßn duy nh·∫•t, n·∫øu code ch·∫°y ƒë·∫øn cu·ªëi file th√†nh c√¥ng th√¨ th∆∞ vi·ªán vnstock ho·∫°t ƒë·ªông b√¨nh th∆∞·ªùng. **Google Colab ƒë∆∞·ª£c ch·ªçn l√† m√¥i tr∆∞·ªùng ti√™u chu·∫©n ƒë·ªÉ s·ª≠ d·ª•ng vnstock v√† debug l·ªói.**

En: `Collapse all the code in this section, run the code only once, if the code runs to the end of the file successfully, then the vnstock library will work normally in most cases`

## 2.1. Li·ªát k√™ c·ªï phi·∫øu ni√™m y·∫øt

#### üì∞ Danh s√°ch c·ªï phi·∫øu ni√™m y·∫øt

L∆∞u √Ω: danh s√°ch n√†y kh√¥ng ph·∫£n √°nh d·ªØ li·ªáu theo th·ªùi gian th·ª±c m√† ƒë∆∞·ª£c c·∫≠p nh·∫≠t h√†ng th√°ng.

In [8]:
listing_companies()

,ticker,comGroupCode,organName,organShortName,organTypeCode,comTypeCode,icbName,icbNamePath,sector,industry,...,VNCOND,VNCONS,VNENE,VNFIN,VNHEAL,VNIND,VNIT,VNMAT,VNREAL,VNUTI
0,SSI,HOSE,C√¥ng ty C·ªï ph·∫ßn Ch·ª©ng kho√°n SSI,Ch·ª©ng kho√°n SSI,DN,CK,M√¥i gi·ªõi ch·ª©ng kho√°n,T√†i ch√≠nh/D·ªãch v·ª• t√†i ch√≠nh/D·ªãch v·ª• t√†i ch√≠nh/...,T√†i ch√≠nh,D·ªãch v·ª• t√†i ch√≠nh,...,False,False,False,True,False,False,False,False,False,False
1,BCM,HOSE,T·ªïng C√¥ng ty ƒê·∫ßu t∆∞ v√† Ph√°t tri·ªÉn C√¥ng nghi·ªáp ...,Becamex IDC,DN,CT,B·∫•t ƒë·ªông s·∫£n,T√†i ch√≠nh/B·∫•t ƒë·ªông s·∫£n/B·∫•t ƒë·ªông s·∫£n/B·∫•t ƒë·ªông s·∫£n,T√†i ch√≠nh,B·∫•t ƒë·ªông s·∫£n,...,False,False,False,False,False,False,False,False,True,False
2,VHM,HOSE,C√¥ng ty C·ªï ph·∫ßn Vinhomes,Vinhomes,DN,CT,B·∫•t ƒë·ªông s·∫£n,T√†i ch√≠nh/B·∫•t ƒë·ªông s·∫£n/B·∫•t ƒë·ªông s·∫£n/B·∫•t ƒë·ªông s·∫£n,T√†i ch√≠nh,B·∫•t ƒë·ªông s·∫£n,...,False,False,False,False,False,False,False,False,True,False
3,VIC,HOSE,T·∫≠p ƒëo√†n Vingroup - C√¥ng ty CP,VinGroup,DN,CT,B·∫•t ƒë·ªông s·∫£n,T√†i ch√≠nh/B·∫•t ƒë·ªông s·∫£n/B·∫•t ƒë·ªông s·∫£n/B·∫•t ƒë·ªông s·∫£n,T√†i ch√≠nh,B·∫•t ƒë·ªông s·∫£n,...,False,False,False,False,False,False,False,False,True,False
4,VRE,HOSE,C√¥ng ty C·ªï ph·∫ßn Vincom Retail,Vincom Retail,DN,CT,B·∫•t ƒë·ªông s·∫£n,T√†i ch√≠nh/B·∫•t ƒë·ªông s·∫£n/B·∫•t ƒë·ªông s·∫£n/B·∫•t ƒë·ªông s·∫£n,T√†i ch√≠nh,B·∫•t ƒë·ªông s·∫£n,...,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1602,SDK,UPCOM,C√¥ng ty C·ªï ph·∫ßn C∆° kh√≠ Luy·ªán Kim,C∆° kh√≠ Luy·ªán Kim,DN,CT,M√°y c√¥ng nghi·ªáp,C√¥ng nghi·ªáp/H√†ng & D·ªãch v·ª• C√¥ng nghi·ªáp/C√¥ng ng...,C√¥ng nghi·ªáp,H√†ng & D·ªãch v·ª• C√¥ng nghi·ªáp,...,False,False,False,False,False,False,False,False,False,False
1603,SRF,HOSE,C√¥ng ty C·ªï ph·∫ßn Searefico,SEAREFICO,DN,CT,M√°y c√¥ng nghi·ªáp,C√¥ng nghi·ªáp/H√†ng & D·ªãch v·ª• C√¥ng nghi·ªáp/C√¥ng ng...,C√¥ng nghi·ªáp,H√†ng & D·ªãch v·ª• C√¥ng nghi·ªáp,...,False,False,False,False,False,False,False,False,False,False
1604,UEM,UPCOM,C√¥ng ty C·ªï ph·∫ßn C∆° ƒëi·ªán U√¥ng B√≠ - Vinacomin,C∆° ƒëi·ªán U√¥ng B√≠ - Vinacomin,DN,CT,M√°y c√¥ng nghi·ªáp,C√¥ng nghi·ªáp/H√†ng & D·ªãch v·ª• C√¥ng nghi·ªáp/C√¥ng ng...,C√¥ng nghi·ªáp,H√†ng & D·ªãch v·ª• C√¥ng nghi·ªáp,...,False,False,False,False,False,False,False,False,False,False
1605,VEA,UPCOM,T·ªïng C√¥ng ty M√°y ƒë·ªông l·ª±c v√† M√°y n√¥ng nghi·ªáp V...,M√°y ƒë·ªông l·ª±c v√† M√°y NN,DN,CT,M√°y c√¥ng nghi·ªáp,C√¥ng nghi·ªáp/H√†ng & D·ªãch v·ª• C√¥ng nghi·ªáp/C√¥ng ng...,C√¥ng nghi·ªáp,H√†ng & D·ªãch v·ª• C√¥ng nghi·ªáp,...,False,False,False,False,False,False,False,False,False,False
1606,VES,UPCOM,C√¥ng ty C·ªï ph·∫ßn ƒê·∫ßu t∆∞ v√† X√¢y d·ª±ng ƒêi·ªán M√ä CA ...,M√ä CA VNECO,DN,CT,M√°y c√¥ng nghi·ªáp,C√¥ng nghi·ªáp/H√†ng & D·ªãch v·ª• C√¥ng nghi·ªáp/C√¥ng ng...,C√¥ng nghi·ªáp,H√†ng & D·ªãch v·ª• C√¥ng nghi·ªáp,...,False,False,False,False,False,False,False,False,False,False

## 2.2. üí¥ Ph√¢n t√≠ch c∆° b·∫£n

### Th√¥ng tin c√¥ng ty ni√™m y·∫øt

#### T·ªïng quan

In [9]:
company_overview('TCB')

,ticker,exchange,industry,companyType,noShareholders,foreignPercent,outstandingShare,issueShare,establishedYear,noEmployees,stockRating,deltaInWeek,deltaInMonth,deltaInYear,shortName,industryEn,industryID,industryIDv2,website
0,TCB,HOSE,Ng√¢n h√†ng,NH,1901,0.225,3517.2,3517.2,1993,9757,4.2,-0.008,0.007,-0.066,Techcombank,Banks,289,8355,http://www.techcombank.com.vn

#### Th√¥ng tin c√¥ng ty (M·ªõi)

In [10]:
company_profile ('TCB')

,id,companyName,ticker,companyProfile,historyDev,companyPromise,businessRisk,keyDevelopments,businessStrategies
0,None,Ng√¢n h√†ng Th∆∞∆°ng m·∫°i C·ªï ph·∫ßn K·ªπ th∆∞∆°ng Vi·ªát Nam,TCB,Ng√¢n h√†ng Th∆∞∆°ng m·∫°i C·ªï ph·∫ßn K·ªπ th∆∞∆°ng Vi·ªát Na...,Ng√†y 27/09/1993: Ng√¢n h√†ng Th∆∞∆°ng m·∫°i C·ªï ph·∫ß...,None,Th√¥ng t∆∞ 36/2014/TT-NHNN c≈©ng g√¢y ra m·ªôt s·ªë ...,Huy ƒë·ªông v·ªën; T√≠n d·ª•ng; Li√™n k·∫øt v√† ƒë·∫ßu t∆∞ t...,√Åp d·ª•ng c√¥ng ngh·ªá ti√™n ti·∫øn hi·ªán ƒë·∫°i trong c...

#### Danh s√°ch c·ªï ƒë√¥ng (M·ªõi)

In [11]:
company_large_shareholders (symbol='TCB')

  ticker                     shareHolder  shareOwnPercent
0    TCB  C√¥ng ty C·ªï ph·∫ßn T·∫≠p ƒëo√†n Masan           0.1491
1    TCB           Nguy·ªÖn Th·ªã Thanh Th·ªßy           0.0495
2    TCB            Nguy·ªÖn Th·ªã Thanh T√¢m           0.0495
3    TCB                     H·ªì Anh Minh           0.0392
4    TCB               Nguy·ªÖn Ph∆∞∆°ng Hoa           0.0216
5    TCB               Nguy·ªÖn H∆∞∆°ng Li√™n           0.0198
6    TCB                     H·ªí H√ôNG ANH           0.0112
7    TCB              Nguy·ªÖn Thi·ªÅu Quang           0.0086
8    TCB                     H·ªì Th·ªßy Anh           0.0064
9    TCB                            Kh√°c           0.0292

#### C√°c ch·ªâ s·ªë t√†i ch√≠nh c∆° b·∫£n (M·ªõi)

In [12]:
company_fundamental_ratio (symbol='TCB', mode='simplify', missing_pct=0.8)

,ticker,costOfFinancing.industryAvgValue,interestMargin.industryAvgValue,nonInterestOnToi.industryAvgValue,costToIncome.industryAvgValue,preProvisionOnToi.industryAvgValue,postTaxOnToi.industryAvgValue,depositOnEarnAsset.industryAvgValue,cancelDebt.industryAvgValue,badDebtPercentage.industryAvgValue,provisionOnBadDebt.industryAvgValue,loanOnDeposit.industryAvgValue,equityOnTotalAsset.industryAvgValue,badDebtOnAsset.industryAvgValue
0,TCB,0.055,0.035,0.222,0.437,0.449,0.322,0.708,0.006,0.024,0.609,0.969,0.086,0.016

#### M·ª©c bi·∫øn ƒë·ªông gi√° c·ªï phi·∫øu (M·ªõi)

In [13]:
ticker_price_volatility (symbol='TCB')

,ticker,ticker_highestPrice,ticker_lowestPrice,ticker_highestPricePercent,ticker_lowestPricePercent
0,TCB,38950.0,20700.0,-0.114,0.667

#### Th√¥ng tin giao d·ªãch n·ªôi b·ªô (M·ªõi)

In [14]:
company_insider_deals (symbol='TCB', page_size=20, page=0)

,ticker,dealAnnounceDate,dealMethod,dealAction,dealQuantity,dealPrice,dealRatio
0,TCB,2023-08-31,C·ªï ƒë√¥ng l·ªõn,B√°n,-300000.0,34500.0,0.000
1,TCB,2023-08-22,C·ªï ƒë√¥ng s√°ng l·∫≠p,Mua,0.0,33100.0,0.042
2,TCB,2023-07-20,C·ªï ƒë√¥ng n·ªôi b·ªô,B√°n,-933169.0,31900.0,0.082
3,TCB,2023-04-18,C·ªï ƒë√¥ng l·ªõn,B√°n,-30000.0,29150.0,0.184
4,TCB,2022-12-28,C·ªï ƒë√¥ng s√°ng l·∫≠p,B√°n,-21496.0,26150.0,0.319
5,TCB,2022-11-28,C·ªï ƒë√¥ng n·ªôi b·ªô,Mua,200000.0,24600.0,0.402
13,TCB,2022-09-06,C·ªï ƒë√¥ng n·ªôi b·ªô,Mua,350000.0,38650.0,-0.107
12,TCB,2022-09-06,C·ªï ƒë√¥ng n·ªôi b·ªô,Mua,111404.0,38650.0,-0.107
11,TCB,2022-09-06,C·ªï ƒë√¥ng n·ªôi b·ªô,Mua,100021.0,38650.0,-0.107
10,TCB,2022-09-06,C·ªï ƒë√¥ng n·ªôi b·ªô,Mua,97770.0,38650.0,-0.107
9,TCB,2022-09-06,C·ªï ƒë√¥ng n·ªôi b·ªô,Mua,80945.0,38650.0,-0.107
8,TCB,2022-09-06,C·ªï ƒë√¥ng n·ªôi b·ªô,Mua,55764.0,38650.0,-0.107
7,TCB,2022-09-06,C·ªï ƒë√¥ng n·ªôi b·ªô,Mua,42118.0,38650.0,-0.107
6,TCB,2022-09-06,C·ªï ƒë√¥ng n·ªôi b·ªô,Mua,5318.0,38650.0,-0.107
14,TCB,2022-08-08,C·ªï ƒë√¥ng n·ªôi b·ªô,B√°n,-100000.0,39200.0,-0.120
15,TCB,2022-05-10,C·ªï ƒë√¥ng s√°ng l·∫≠p,B√°n,-868500.0,38700.0,-0.109
16,TCB,2022-04-05,C·ªï ƒë√¥ng s√°ng l·∫≠p,B√°n,-150000.0,49050.0,-0.297
17,TCB,2022-03-23,C·ªï ƒë√¥ng n·ªôi b·ªô,B√°n,-200000.0,49600.0,-0.304
18,TCB,2021-10-26,C·ªï ƒë√¥ng n·ªôi b·ªô,B√°n,-35704.0,51000.0,-0.324
19,TCB,2021-10-14,C·ªï ƒë√¥ng s√°ng l·∫≠p,Mua,300000.0,52500.0,-0.343

#### Danh s√°ch c√¥ng ty con, c√¥ng ty li√™n k·∫øt (M·ªõi)

In [15]:
company_subsidiaries_listing (symbol='TCB', page_size=100, page=0)

  ticker                                     subCompanyName  subOwnPercent
0    TCB  C√¥ng ty TNHH MTV Qu·∫£n L√Ω N·ª£ V√† Khai Th√°c T√†i S...          1.000
1    TCB              C√¥ng ty C·ªï ph·∫ßn Ch·ª©ng kho√°n K·ªπ Th∆∞∆°ng          0.942
2    TCB              C√¥ng ty C·ªï ph·∫ßn Qu·∫£n L√Ω Qu·ªπ K·ªπ Th∆∞∆°ng          0.900
3    TCB  T·ªïng C√¥ng ty C·ªï ph·∫ßn Xu·∫•t nh·∫≠p kh·∫©u v√† X√¢y d·ª±n...          0.004
4    TCB            T·ªïng C√¥ng ty H√†ng kh√¥ng Vi·ªát Nam - CTCP          0.000
5    TCB          C√¥ng ty T√†i Ch√≠nh TNHH MTV Lotte Vi·ªát Nam          0.000

#### Ban l√£nh ƒë·∫°o c√¥ng ty (M·ªõi)

In [16]:
company_officers (symbol='TCB', page_size=20, page=0)

,ticker,officerName,officerPosition,officerOwnPercent
0,TCB,Nguy·ªÖn Th·ªã Thanh Th·ªßy,None,0.0495
1,TCB,Nguy·ªÖn Th·ªã Thanh T√¢m,None,0.0495
2,TCB,H·ªì Anh Minh,None,0.0392
3,TCB,Nguy·ªÖn Ph∆∞∆°ng Hoa,None,0.0216
4,TCB,Nguy·ªÖn H∆∞∆°ng Li√™n,None,0.0198
5,TCB,H·ªí H√ôNG ANH,None,0.0112
6,TCB,Nguy·ªÖn Thi·ªÅu Quang,Ph√≥ Ch·ªß t·ªãch H·ªôi ƒë·ªìng Qu·∫£n tr·ªã,0.0086
7,TCB,H·ªì Th·ªßy Anh,None,0.0064
8,TCB,Nguy·ªÖn C·∫£nh S∆°n T√πng,None,0.0060
9,TCB,Nguy·ªÖn C·∫£nh S∆°n,Ph√≥ Ch·ªß t·ªãch H·ªôi ƒë·ªìng Qu·∫£n tr·ªã,0.0051
10,TCB,Ph·∫°m Hi·ªÅn Trang,None,0.0031
11,TCB,Nguy·ªÖn ƒêƒÉng Quang,None,0.0027
12,TCB,Nguy·ªÖn L√™ Qu·ªëc Anh,None,0.0017
13,TCB,Tr·ªãnh B·∫±ng,None,0.0017
14,TCB,Nguy·ªÖn Thu Hi·ªÅn,None,0.0009
15,TCB,Phan Thanh S∆°n,None,0.0007
16,TCB,Ph√πng Quang H∆∞ng,None,0.0005
17,TCB,L√™ Anh Tu·∫•n,None,0.0004
18,TCB,ƒê·ªó Tu·∫•n Anh,None,0.0004
19,TCB,Ph·∫°m Quang Th·∫Øng,None,0.0004

#### Th√¥ng tin s·ª± ki·ªán quy·ªÅn (M·ªõi)

In [17]:
company_events (symbol='TPB', page_size=15, page=0)

,id,ticker,price,priceChange,priceChangeRatio,priceChangeRatio1W,priceChangeRatio1M,eventName,eventCode,notifyDate,exerDate,regFinalDate,exRigthDate,eventDesc,eventNote
0,2563370,TPB,18100,-350,-0.019,-0.016,0.037,"TPB - Ni√™m y·∫øt b·ªï sung 619,879,514 c·ªï phi·∫øu",AIS,2023-06-29 00:00:00,2023-07-07 00:00:00,1753-01-01 00:00:00,1753-01-01 00:00:00,<p>Ng√¢n h√†ng Th∆∞∆°ng m·∫°i C·ªï ph·∫ßn Ti√™n Phong (TP...,None
1,2563135,TPB,18535,-215,-0.011,0.071,0.110,"TPB - Ph√°t h√†nh c·ªï phi·∫øu th∆∞·ªüng t·ª∑ l·ªá 39,19%",ISS,2023-06-06 00:00:00,2023-06-09 00:00:00,2023-06-12 00:00:00,2023-06-09 00:00:00,<p>Ng√¢n h√†ng Th∆∞∆°ng m·∫°i C·ªï ph·∫ßn Ti√™n Phong (TP...,None
2,2561933,TPB,15668,-64,-0.004,0.030,0.030,TPB - T·ªï ch·ª©c ƒêHƒêCƒê th∆∞·ªùng ni√™n 2023,AGME,2023-03-14 00:00:00,2023-04-26 00:00:00,2023-03-29 00:00:00,2023-03-28 00:00:00,<p>Ng√¢n h√†ng Th∆∞∆°ng m·∫°i C·ªï ph·∫ßn Ti√™n Phong (TP...,None
3,2561033,TPB,15441,-97,-0.006,0.013,0.037,TPB - Tr·∫£ c·ªï t·ª©c C·∫£ nƒÉm nƒÉm 2021 b·∫±ng ti·ªÅn 250...,DIV,2023-02-17 00:00:00,2023-04-03 00:00:00,2023-03-21 00:00:00,2023-03-20 00:00:00,<p>Ng√¢n h√†ng Th∆∞∆°ng m·∫°i C·ªï ph·∫ßn Ti√™n Phong (TP...,None
4,2560718,TPB,14567,0,0.000,0.027,-0.017,TPB - L·∫•y √Ω ki·∫øn c·ªï ƒë√¥ng b·∫±ng vƒÉn b·∫£n,BALLOT,2023-01-10 00:00:00,1753-01-01 00:00:00,2023-01-17 00:00:00,2023-01-16 00:00:00,<p>Ng√¢n h√†ng Th∆∞∆°ng m·∫°i C·ªï ph·∫ßn Ti√™n Phong (TP...,None
5,2517318,TPB,25832,453,0.018,0.028,-0.021,TPB - T·ªï ch·ª©c ƒêHƒêCƒê th∆∞·ªùng ni√™n 2022,AGME,2022-03-15 00:00:00,2022-04-26 00:00:00,2022-03-28 00:00:00,2022-03-25 00:00:00,<p>Ng√¢n h√†ng Th∆∞∆°ng m·∫°i C·ªï ph·∫ßn Ti√™n Phong (TP...,None
6,2406108,TPB,27192,0,0.000,0.031,0.206,TPB - Ni√™m y·∫øt b·ªï sung 410.083.773 c·ªï phi·∫øu,AIS,2022-01-06 13:34:36,2022-01-13 00:00:00,1753-01-01 00:00:00,1753-01-01 00:00:00,"<DIV style=""FONT-FAMILY: Arial; FONT-SIZE: 10p...",
7,2395935,TPB,24936,719,0.030,0.018,0.183,TPB - Ph√°t h√†nh c·ªï phi·∫øu th∆∞·ªüng t·ª∑ l·ªá 35%,ISS,2021-12-15 14:43:49,2021-12-20 00:00:00,2021-12-21 00:00:00,2021-12-20 00:00:00,"<DIV style=""FONT-FAMILY: Arial; FONT-SIZE: 10p...",
8,2235221,TPB,31480,371,0.012,0.044,0.221,TPB - Ni√™m y·∫øt b·ªï sung 100.000.000 c·ªï phi·∫øu,AIS,2021-10-05 09:58:59,2022-09-15 00:00:00,1753-01-01 00:00:00,1753-01-01 00:00:00,"<DIV style=""FONT-FAMILY: Arial; FONT-SIZE: 10p...",
9,2215176,TPB,30665,519,0.017,0.032,0.195,TPB - T·ªï ch·ª©c l·∫•y √Ω ki·∫øn c·ªï ƒë√¥ng b·∫±ng vƒÉn b·∫£n,BALLOT,2021-09-29 10:13:13,1753-01-01 00:00:00,2021-10-11 00:00:00,2021-10-08 00:00:00,"<DIV style=""FONT-FAMILY: Arial; FONT-SIZE: 10p...",
10,1853868,TPB,24443,74,0.003,0.048,0.187,TPB - ƒê√£ b√°n 40.016.056 c·ªï phi·∫øu qu·ªπ,TS,2021-05-20 17:53:40,2021-05-20 00:00:00,1753-01-01 00:00:00,1753-01-01 00:00:00,"<DIV style=""FONT-FAMILY: Arial; FONT-SIZE: 10p...",
11,1783282,TPB,20517,-815,-0.038,-0.038,-0.028,TPB - ƒêƒÉng k√Ω b√°n 40.016.056 c·ªï phi·∫øu qu·ªπ,TS,2021-04-16 09:07:27,2021-04-28 00:00:00,1753-01-01 00:00:00,1753-01-01 00:00:00,"<DIV style=""FONT-FAMILY: Arial; FONT-SIZE: 10p...",
12,1662554,TPB,21184,0,0.000,0.004,0.033,TPB - T·ªï ch·ª©c ƒêHƒêCƒê th∆∞·ªùng ni√™n 2021,AGME,2021-03-12 00:00:00,2021-04-23 00:00:00,2021-03-26 00:00:00,2021-03-25 00:00:00,"<DIV style=""FONT-FAMILY: Arial; FONT-SIZE: 10p...",
13,1491361,TPB,19703,1260,0.068,0.185,0.324,TPB - Ni√™m y·∫øt b·ªï sung 15.615.880 c·ªï phi·∫øu,AIS,2020-12-21 15:44:37,2022-12-01 00:00:00,1753-01-01 00:00:00,1753-01-01 00:00:00,"<DIV style=""FONT-FAMILY: Arial; FONT-SIZE: 10p...",
14,1491360,TPB,19703,1260,0.068,0.185,0.324,TPB - Ni√™m y·∫øt b·ªï sung 4.067.440 c·ªï phi·∫øu,AIS,2020-12-21 15:43:19,2021-12-01 00:00:00,1753-01-01 00:00:00,1753-01-01 00:00:00,"<DIV style=""FONT-FAMILY: Arial; FONT-SIZE: 10p...",

#### Tin t·ª©c c√¥ng ty (M·ªõi)

In [18]:
company_news (symbol='TCB', page_size=15, page=0)

,ticker,price,priceChange,priceChangeRatio,priceChangeRatio1W,priceChangeRatio1M,id,title,source,publishDate
0,TCB,34500,500,0.015,0.021,0.006,10915190,TCB: B√°o c√°o k·∫øt qu·∫£ giao d·ªãch c·ªï phi·∫øu c·ªßa n...,HOSE,2023-08-31 11:12:00
1,TCB,33650,-150,-0.004,0.035,0.004,10909083,TCB: CBTT v·ªÅ vi·ªác gi·∫£i t·ªèa c·ªï phi·∫øu h·∫°n ch·∫ø c...,HOSE,2023-08-25 16:35:00
2,TCB,33100,350,0.011,-0.028,0.020,10905062,TCB: Con g√°i Ch·ªß t·ªãch ƒëƒÉng k√Ω mua tr√™n 82 tri·ªá...,HOSE,2023-08-22 11:19:00
3,TCB,32750,250,0.008,-0.031,0.014,10904072,B√°o c√°o k·∫øt qu·∫£ ph√¢n ph·ªëi ch·ª©ng quy·ªÅn c√≥ b·∫£o ƒë...,HOSE,2023-08-21 16:21:00
4,TCB,34700,-600,-0.017,0.036,0.088,10900206,Th√¥ng b√°o ph√°t h√†nh ch·ª©ng quy·ªÅn v√† B·∫£n c√°o b·∫°c...,HOSE,2023-08-17 14:48:00
5,TCB,34700,-600,-0.017,0.036,0.088,10899331,Gi·∫•y ch·ª©ng nh·∫≠n ch√†o b√°n ch·ª©ng quy·ªÅn c√≥ b·∫£o ƒë·∫£...,HOSE,2023-08-17 08:55:00
6,TCB,33800,150,0.004,-0.016,0.058,10895913,Th√¥ng b√°o h·ªßy ƒë·ª£t ph√°t h√†nh ch·ª©ng quy·ªÅn c√≥ b·∫£o...,HOSE,2023-08-14 17:36:00
7,TCB,33500,-500,-0.015,0.000,0.047,10892819,TCB: CBTT Chuy·ªÉn quy·ªÅn s·ªü h·ªØu c·ªï phi·∫øu t·ª´ C√¥n...,HOSE,2023-08-10 17:55:00
8,TCB,34000,0,0.000,0.003,0.063,10891020,Th√¥ng b√°o ph√°t h√†nh ch·ª©ng quy·ªÅn v√† B·∫£n c√°o b·∫°c...,HOSE,2023-08-09 16:55:00
9,TCB,34000,0,0.000,0.003,0.063,10890346,B√°o c√°o k·∫øt qu·∫£ ph√¢n ph·ªëi ch·ª©ng quy·ªÅn c√≥ b·∫£o ƒë...,HOSE,2023-08-09 10:26:00
10,TCB,34000,0,0.000,0.003,0.063,10890347,B√°o c√°o k·∫øt qu·∫£ ph√¢n ph·ªëi ch·ª©ng quy·ªÅn c√≥ b·∫£o ƒë...,HOSE,2023-08-09 10:24:00
11,TCB,34000,-350,-0.010,0.000,0.063,10889454,Gi·∫•y ch·ª©ng nh·∫≠n ƒëƒÉng k√Ω ch√†o b√°n ch·ª©ng quy·ªÅn c...,HOSE,2023-08-08 17:21:00
12,TCB,34350,750,0.022,0.001,0.089,10887695,B√°o c√°o k·∫øt qu·∫£ ph√¢n ph·ªëi ch·ª©ng quy·ªÅn c√≥ b·∫£o ƒë...,HOSE,2023-08-07 14:38:00
13,TCB,34350,750,0.022,0.001,0.089,10887697,B√°o c√°o k·∫øt qu·∫£ ph√¢n ph·ªëi ch·ª©ng quy·ªÅn c√≥ b·∫£o ƒë...,HOSE,2023-08-07 14:36:00
14,TCB,33500,-400,-0.012,0.012,0.047,10884794,Th√¥ng b√°o ph√°t h√†nh ch·ª©ng quy·ªÅn c√≥ b·∫£o ƒë·∫£m Ch·ª©...,HOSE,2023-08-03 18:20:00

### üßß L·ªãch s·ª≠ chi tr·∫£ c·ªï t·ª©c

In [19]:
dividend_history("VNM")

   exerciseDate  cashYear  cashDividendPercentage issueMethod
0      03/08/23      2022                   0.095        cash
1      03/08/23      2023                   0.150        cash
2      22/12/22      2022                   0.140        cash
3      06/07/22      2021                   0.095        cash
4      06/07/22      2022                   0.150        cash
5      10/01/22      2021                   0.140        cash
6      07/09/21      2021                   0.150        cash
7      07/06/21      2020                   0.110        cash
8      05/01/21      2020                   0.100        cash
9      29/09/20      2020                   0.200        cash
10     29/06/20      2019                   0.150        cash
11     26/12/19      2019                   0.100        cash
12     16/09/19      2019                   0.200        cash
13     05/06/19      2018                   0.150        cash
14     27/12/18      2018                   0.100        cash
15     05/09/18      2018                   0.200        cash
16     05/06/18      2017                   0.150        cash
17     28/12/17      2017                   0.150        cash
18     14/08/17      2017                   0.200        cash
19     04/05/17      2016                   0.200        cash

### Ph√¢n t√≠ch t√†i ch√≠nh

#### Ch·ªâ s·ªë t√†i ch√≠nh (TCBS)

In [20]:
financial_ratio("TCB", 'quarterly', True)

range,Q2-2023,Q1-2023,Q4-2022,Q3-2022,Q2-2022,Q1-2022,Q4-2021,Q3-2021,Q2-2021,Q1-2021,...,Q4-2015,Q3-2015,Q2-2015,Q1-2015,Q4-2014,Q3-2014,Q2-2014,Q1-2014,Q4-2013,Q3-2013
ticker,TCB,TCB,TCB,TCB,TCB,TCB,TCB,TCB,TCB,TCB,...,TCB,TCB,TCB,TCB,TCB,TCB,TCB,TCB,TCB,TCB
quarter,Q2,Q1,Q4,Q3,Q2,Q1,Q4,Q3,Q2,Q1,...,Q4,Q3,Q2,Q1,Q4,Q3,Q2,Q1,Q4,Q3
year,2023,2023,2022,2022,2022,2022,2021,2021,2021,2021,...,2015,2015,2015,2015,2014,2014,2014,2014,2013,2013
priceToEarning,6.8,5.2,4.5,5.4,6.2,9.1,9.7,10.0,11.5,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
priceToBook,1.0,0.8,0.8,1.0,1.2,1.8,1.9,2.0,2.2,1.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
roe,0.158,0.178,0.197,0.216,0.217,0.217,0.217,0.221,0.215,0.2,...,0.1,0.09,0.075,0.059,0.075,0.07,0.063,0.055,0.047,-0.047
roa,0.026,0.029,0.032,0.035,0.036,0.036,0.036,0.037,0.036,0.033,...,0.009,0.008,0.007,0.005,0.006,0.006,0.005,0.005,0.004,-0.004
earningPerShare,5059,5442,5729,6026,5753,5443,5128,4946,4594,4055,...,451,395,326,247,308,284,253,219,182,-190
bookValuePerShare,34818,33539,32248,31245,29703,28029,26457,25128,23854,22487,...,4707,4602,4487,4356,4272,4221,4175,4115,3964,3944
interestMargin,0.044,0.047,0.053,0.056,0.058,0.057,0.057,0.057,0.056,0.052,...,0.043,0.043,0.044,0.041,0.039,0.036,0.031,0.03,0.03,0.029
nonInterestOnToi,0.325,0.298,0.277,0.268,0.287,0.189,0.287,0.232,0.284,0.314,...,0.17,0.257,0.196,0.292,0.181,0.228,0.169,0.161,0.186,0.206
badDebtPercentage,0.011,0.008,0.009,0.006,0.006,0.007,0.007,0.006,0.004,0.004,...,0.017,0.023,0.024,0.026,0.024,0.03,0.041,0.046,0.037,0.059
provisionOnBadDebt,1.156,1.338,1.25,1.65,1.716,1.608,1.629,1.844,2.589,2.194,...,0.625,0.529,0.472,0.485,0.501,0.452,0.368,0.386,0.462,0.373
costOfFinancing,0.044,0.035,0.028,0.023,0.022,0.021,0.022,0.023,0.025,0.028,...,0.038,0.042,0.044,0.045,0.048,0.05,0.052,0.055,0.059,0.063
equityOnTotalAsset,0.167,0.163,0.162,0.164,0.167,0.16,0.164,0.163,0.166,0.171,...,0.086,0.092,0.091,0.085,0.085,0.087,0.086,0.088,0.088,0.083
equityOnLoan,0.262,0.253,0.27,0.268,0.267,0.27,0.268,0.275,0.268,0.267,...,0.148,0.172,0.173,0.172,0.187,0.207,0.198,0.201,0.198,0.198
costToIncome,0.308,0.338,0.423,0.292,0.292,0.3,0.334,0.299,0.281,0.287,...,0.467,0.431,0.372,0.316,0.566,0.369,0.502,0.512,0.588,0.68
equityOnLiability,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,...,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1
epsChange,-0.07,-0.05,-0.049,0.047,0.057,0.061,0.037,0.077,0.133,0.157,...,0.141,0.211,0.317,-0.196,0.084,0.122,0.156,0.199,-1.958,4.569
assetOnEquity,6.0,6.1,6.2,6.1,6.0,6.2,6.1,6.1,6.0,5.9,...,11.6,10.8,11.0,11.7,11.7,11.5,11.7,11.4,11.4,12.0
preProvisionOnToi,0.552,0.534,0.434,0.566,0.569,0.579,0.508,0.558,0.574,0.578,...,0.412,0.442,0.494,0.525,0.308,0.477,0.388,0.38,0.309,0.176
postTaxOnToi,0.483,0.488,0.379,0.519,0.538,0.561,0.461,0.505,0.522,0.501,...,0.151,0.192,0.229,0.119,0.093,0.078,0.139,0.341,0.071,0.042
loanOnEarnAsset,0.718,0.725,0.684,0.698,0.695,0.643,0.665,0.644,0.677,0.696,...,0.638,0.594,0.581,0.55,0.51,0.471,0.49,0.502,0.509,0.488
loanOnAsset,0.637,0.643,0.602,0.612,0.628,0.594,0.611,0.593,0.622,0.64,...,0.581,0.536,0.526,0.495,0.457,0.419,0.433,0.438,0.442,0.422
loanOnDeposit,1.221,1.202,1.173,1.287,1.218,1.112,1.104,1.015,1.084,1.031,...,0.785,0.687,0.705,0.699,0.611,0.587,0.593,0.579,0.586,0.597
depositOnEarnAsset,0.588,0.603,0.583,0.542,0.571,0.578,0.602,0.634,0.625,0.675,...,0.813,0.864,0.824,0.786,0.835,0.803,0.826,0.867,0.869,0.817
badDebtOnAsset,0.007,0.005,0.005,0.004,0.004,0.004,0.004,0.003,0.002,0.002,...,0.01,0.012,0.013,0.013,0.011,0.012,0.018,0.02,0.016,0.025
liquidityOnLiability,0.319,0.305,0.347,0.329,0.343,0.404,0.382,0.405,0.37,0.354,...,0.38,0.426,0.438,0.463,0.501,0.531,0.513,0.499,0.493,0.509
payableOnEquity,5.0,5.1,5.2,5.1,5.0,5.2,5.1,5.1,5.0,4.9,...,10.6,9.8,10.0,10.7,10.7,10.5,10.7,10.4,10.4,11.0
cancelDebt,0.002,0.002,0.002,0.002,0.002,0.002,0.004,0.004,0.008,0.012,...,0.036,0.039,0.047,0.047,0.033,0.038,0.02,0.019,0.02,0.022
bookValuePerShareChange,0.038,0.04,0.032,0.052,0.06,0.059,0.053,0.053,0.061,0.06,...,0.023,0.026,0.03,0.02,0.012,0.011,0.015,0.038,0.005,0.005
creditGrowth,0.191,0.273,0.211,0.279,0.25,0.234,0.252,0.392,0.353,0.277,...,0.39,0.314,0.228,0.235,0.143,0.022,0.06,0.05,0.029,0.141

#### B√°o c√°o t√†i ch√≠nh

* Income Statement: B√°o c√°o doanh thu

* Balance Sheet: B·∫£ng c√¢n ƒë·ªëi k·∫ø to√°n

* Cashflow: B√°o c√°o l∆∞u chuy·ªÉn ti·ªÅn t·ªá

In [21]:
# B·ªï sung param `get_all` ƒë·ªÉ l·∫•y t·∫•t c·∫£ b√°o c√°o ho·∫∑c 5 nƒÉm g·∫ßn nh·∫•t ho·∫∑c 10 qu√Ω g·∫ßn nh·∫•t
financial_flow(symbol="TCB", report_type='incomestatement', report_range='quarterly', get_all=False)

,ticker,revenue,yearRevenueGrowth,quarterRevenueGrowth,costOfGoodSold,grossProfit,operationExpense,operationProfit,yearOperationProfitGrowth,quarterOperationProfitGrowth,...,postTaxProfit,shareHolderIncome,yearShareHolderIncomeGrowth,quarterShareHolderIncomeGrowth,investProfit,serviceProfit,otherProfit,provisionExpense,operationIncome,ebitda
index,,,,,,,,,,,,,,,,,,,,,
2023-Q2,TCB,6295,-0.192,-0.036,None,None,-2869,9325,-0.147,0.003,...,4503,4455,-0.232,-0.009,72,2019,939,-807,6456,None
2023-Q1,TCB,6527,-0.195,-0.043,None,None,-3142,9300,-0.071,-0.014,...,4537,4497,-0.183,0.269,-228,1944,1057,-535,6158,None
2022-Q4,TCB,6819,-0.059,-0.099,None,None,-3990,9427,-0.072,-0.088,...,3572,3544,-0.228,-0.331,-422,2535,495,-691,5437,None
2022-Q3,TCB,7565,0.122,-0.029,None,None,-3014,10338,0.178,-0.055,...,5368,5298,0.221,-0.087,209,2123,441,-609,7324,None
2022-Q2,TCB,7794,0.183,-0.039,None,None,-3196,10934,0.188,0.093,...,5882,5804,0.232,0.054,411,1987,743,-417,7739,None
2022-Q1,TCB,8111,0.325,0.120,None,None,-3003,10006,0.120,-0.015,...,5615,5505,0.252,0.199,-280,1687,488,-218,7004,None
2021-Q4,TCB,7245,0.328,0.074,None,None,-3392,10159,0.309,0.157,...,4684,4592,0.162,0.059,279,2103,532,-627,6767,None
2021-Q3,TCB,6742,0.310,0.023,None,None,-2628,8779,0.171,-0.046,...,4432,4338,0.400,-0.079,384,1497,156,-589,6151,None
2021-Q2,TCB,6588,0.674,0.076,None,None,-2591,9206,0.562,0.031,...,4807,4711,0.672,0.072,717,1457,444,-598,6615,None
2021-Q1,TCB,6124,0.454,0.122,None,None,-2563,8932,0.481,0.151,...,4476,4397,0.790,0.112,812,1325,671,-851,6369,None

In [22]:
financial_flow(symbol="TCB", report_type='balancesheet', report_range='quarterly', get_all=False)

,ticker,shortAsset,cash,shortInvest,shortReceivable,inventory,longAsset,fixedAsset,asset,debt,...,oweCentralBank,valuablePaper,payableInterest,receivableInterest,deposit,otherDebt,fund,unDistributedIncome,minorShareHolderProfit,payable
index,,,,,,,,,,,,,,,,,,,,,
2023-Q2,TCB,None,3113,None,None,None,None,8742,732470,610005,...,136,54958,8118,8875,381947,54958,43387,41654,1218,610005
2023-Q1,TCB,None,2852,None,None,None,None,8275,723518,605552,...,122,46729,8303,8365,387298,46729,11607,68979,1170,605552
2022-Q4,TCB,None,4216,None,None,None,None,8411,699033,585608,...,8,34007,6144,8029,358404,34007,11609,64483,1129,585608
2022-Q3,TCB,None,3026,None,None,None,None,7282,671354,561454,...,6,42858,4750,8681,318919,42858,9151,64059,1032,561454
2022-Q2,TCB,None,3204,None,None,None,None,7220,623739,519263,...,2,37122,3375,8072,321634,37122,9152,58761,963,519263
2022-Q1,TCB,None,3277,None,None,None,None,7265,615270,516684,...,223,32731,3369,7253,328914,32731,9156,52958,884,516684
2021-Q4,TCB,None,3579,None,None,None,None,7224,568811,475756,...,1,33680,3098,5808,314753,33680,9156,47469,845,475756
2021-Q3,TCB,None,3303,None,None,None,None,7106,541635,453251,...,15,34003,3074,6224,316376,34003,6784,45261,753,453251
2021-Q2,TCB,None,3554,None,None,None,None,6739,504304,420403,...,0,27678,2643,5736,289335,27678,6790,40924,659,420403
2021-Q1,TCB,None,4273,None,None,None,None,4726,462823,383730,...,2,26035,2897,5664,287446,26035,6790,36213,563,383730

In [23]:
financial_flow(symbol="TCB", report_type='cashflow', report_range='quarterly', get_all=False)

        ticker  investCost  fromInvest  fromFinancial  fromSale  freeCashFlow
index
2023-Q2    TCB        -395       -3042              0     -2480             0
2023-Q1    TCB         -73         260              1    -21875             0
2022-Q4    TCB        -720        -679           -700     19130             0
2022-Q3    TCB        -212        -205             63     15950             0
2022-Q2    TCB         -65         -62              0     -4020             0
2022-Q1    TCB        -113        -111            -73     24408             0
2021-Q4    TCB        -280        -276              0     -9328             0
2021-Q3    TCB        -180        -179             60     17974             0
2021-Q2    TCB        -337        -282              0     11205             0
2021-Q1    TCB        -143        -143              0     -6954             0

#### ƒê·ªãnh gi√° (M·ªõi)

In [24]:
stock_evaluation (symbol='TCB', period=1, time_window='D')

,ticker,fromDate,toDate,PE,PB,industryPE,vnindexPE,industryPB,vnindexPB
0,TCB,2022-09-05,2022-09-05,6.4,1.2,9.8,14.0,1.7,2.0
1,TCB,2022-09-06,2022-09-06,6.4,1.2,9.9,14.0,1.7,2.0
2,TCB,2022-09-07,2022-09-07,6.2,1.2,9.6,13.7,1.7,2.0
3,TCB,2022-09-08,2022-09-08,6.2,1.2,9.4,13.5,1.6,1.9
4,TCB,2022-09-09,2022-09-09,6.2,1.2,9.5,13.7,1.6,2.0
...,...,...,...,...,...,...,...,...,...
245,TCB,2023-08-25,2023-08-25,6.7,1.0,9.3,14.8,1.5,1.7
246,TCB,2023-08-28,2023-08-28,6.7,1.0,9.3,15.0,1.6,1.7
247,TCB,2023-08-29,2023-08-29,6.7,1.0,9.4,15.1,1.6,1.7
248,TCB,2023-08-30,2023-08-30,6.7,1.0,9.5,15.2,1.6,1.7
249,TCB,2023-08-31,2023-08-31,6.8,1.0,9.6,15.4,1.6,1.7

## 2.3. Ph√¢n t√≠ch k·ªπ thu·∫≠t

### üìà Historical Price

In [25]:
stock_historical_data("GMD", "2021-01-01", "2022-02-25", "1D")

           time   open   high    low  close   volume ticker
0    2021-01-04  31390  32340  31200  31490  4226500    GMD
1    2021-01-05  31490  32770  31150  32150  4851900    GMD
2    2021-01-06  32530  32530  31490  31770  3641300    GMD
3    2021-01-07  32060  32820  30920  32340  5753700    GMD
4    2021-01-08  32720  33100  31870  32250  4587500    GMD
..          ...    ...    ...    ...    ...      ...    ...
279  2022-02-21  50530  51210  49950  49950  1489200    GMD
280  2022-02-22  49260  51120  48290  50920  3583400    GMD
281  2022-02-23  50920  51990  50630  50820  2823400    GMD
282  2022-02-24  50240  51510  48970  50140  2961300    GMD
283  2022-02-25  50730  51410  48970  49260  2841200    GMD

[284 rows x 7 columns]

In [26]:
stock_historical_data("VNINDEX", "2023-06-01", "2023-06-29", "1D", "index")

          time     open     high      low    close      volume   ticker
0   2023-06-01  1076500  1078390  1071610  1078390   852591680  VNINDEX
1   2023-06-02  1084190  1092240  1083360  1090840  1025982016  VNINDEX
2   2023-06-05  1099660  1103810  1096760  1097820   942253440  VNINDEX
3   2023-06-06  1098800  1108310  1098280  1108310   837786240  VNINDEX
4   2023-06-07  1110790  1112280  1104260  1109540   995078784  VNINDEX
5   2023-06-08  1111730  1115140  1101320  1101320  1321305344  VNINDEX
6   2023-06-09  1103010  1107530  1097230  1107530   897118528  VNINDEX
7   2023-06-12  1110260  1116020  1100080  1116020   783528704  VNINDEX
8   2023-06-13  1117330  1122460  1116100  1122460   940781824  VNINDEX
9   2023-06-14  1124560  1129490  1117420  1117420   915957312  VNINDEX
10  2023-06-15  1116990  1120130  1112110  1116970   703437888  VNINDEX
11  2023-06-16  1117080  1128920  1112510  1115220  1157762560  VNINDEX
12  2023-06-19  1115590  1117230  1104730  1105400   807629888  VNINDEX
13  2023-06-20  1107300  1111720  1102580  1111720   689274560  VNINDEX
14  2023-06-21  1112730  1118460  1110650  1118460   868996480  VNINDEX
15  2023-06-22  1126210  1127540  1122270  1125300   905032832  VNINDEX
16  2023-06-23  1126400  1130610  1122620  1129380   901592384  VNINDEX
17  2023-06-26  1129380  1134000  1119950  1132030  1035697024  VNINDEX
18  2023-06-27  1134360  1136490  1128820  1134330   711965952  VNINDEX
19  2023-06-28  1135780  1140560  1131860  1138350   871618048  VNINDEX
20  2023-06-29  1139420  1140430  1125390  1125390   902448832  VNINDEX

In [27]:
stock_historical_data (symbol='VN30F1M', start_date='2023-06-01', end_date='2023-06-17', resolution='1D', type='derivative')

          time  open  high   low  close  volume   ticker
0   2023-06-01  1062  1065  1056   1065  151091  VN30F1M
1   2023-06-02  1069  1084  1068   1078  212092  VN30F1M
2   2023-06-05  1082  1091  1082   1087  150708  VN30F1M
3   2023-06-06  1085  1096  1084   1096  154919  VN30F1M
4   2023-06-07  1099  1100  1093   1098  157620  VN30F1M
5   2023-06-08  1098  1100  1089   1089  146445  VN30F1M
6   2023-06-09  1089  1095  1087   1095  145563  VN30F1M
7   2023-06-12  1098  1109  1091   1108  157940  VN30F1M
8   2023-06-13  1109  1116  1106   1115  172871  VN30F1M
9   2023-06-14  1115  1123  1112   1112  184853  VN30F1M
10  2023-06-15  1110  1117  1108   1109  149860  VN30F1M
11  2023-06-16  1104  1122  1101   1102  245434  VN30F1M

## 2.4. üëì Stock screening

### Comparison

#### üìä Price Table

In [28]:
price_depth('TCB,SSI,VND')

,M√£ CP,Gi√° tham chi·∫øu,Gi√° Tr·∫ßn,Gi√° S√†n,Gi√° mua 3,KL mua 3,Gi√° mua 2,KL mua 2,Gi√° mua 1,KL mua 1,...,Gi√° b√°n 1,KL b√°n 1,Gi√° b√°n 2,KL b√°n 2,Gi√° b√°n 3,KL b√°n 3,T·ªïng Kh·ªëi L∆∞·ª£ng,ƒêTNN Mua,ƒêTNN B√°n,ƒêTNN Room
0,TCB,34500,36900,32100,34950,21740,34900,18340,34850,12760,...,35000,16830,35050,23830,35100,25180,662470,0,0,0
1,SSI,33400,35700,31100,33200,30420,33150,25410,33100,47270,...,33250,18130,33300,10210,33350,24740,1720070,8060,415177,831745072
2,VND,23500,25100,21900,23600,13160,23550,19990,23500,28350,...,23650,12660,23700,38990,23750,21630,2216440,8870,88591,933906358

In [29]:
price_board('TCB,SSI,VND')

,M√£ CP,Gi√°,KLBD/TB5D,T.ƒë·ªô GD,KLGD r√≤ng(CM),%KLGD r√≤ng (CM),RSI,MACD Hist,MACD Signal,T√≠n hi·ªáu KT,...,Kh·ªõp nhi·ªÅu nh·∫•t,ƒê.g√≥p VNINDEX,%Gi√° - %VNI (1M),%Gi√° - %VNI (1Y),VNINDEX P/E,VNINDEX P/B,vnid3d,vnid1m,vnid3m,vnid1y
0,TCB,35000.0,2.45,0.78,178200,58.3,62.413194,0.07,Buy,Neutral,...,35000,0.44,0.7,-6.6,15.356,1.74883,1.6,1.4,13.5,-4.3
1,SSI,33250.0,0.92,0.65,131100,8.9,69.702497,0.32,Neutral,Neutral,...,33300,-0.06,10.9,49.3,15.356,1.74883,1.6,1.4,13.5,-4.3
2,VND,23650.0,1.01,0.73,-283400,-16.3,71.627204,0.24,Buy,Neutral,...,23450,0.05,14.4,12.6,15.356,1.74883,1.6,1.4,13.5,-4.3

#### üè≠ Industry Analysis

In [30]:
industry_analysis("VNM")

M√£ CP,VNM,MSN,MCH,QNS,VSF,KDC,IDP,SBT,MML,PAN,MCM,VOC,VSN,OCH,CLX,LSS,KTC,HSL,HKB
V·ªën h√≥a (t·ª∑),162599,116614,58158,17806,17707,17208,13632,11996,10047,4585,4183,2796,1709,1640,1287,995,419,301,41
Gi√°,77800,81500,81164,49884,35413,66900,222200,16200,30712,21950,38024,22958,21120,8200,14861,13350,11500,8500,800
S·ªë phi√™n tƒÉng/gi·∫£m li√™n ti·∫øp,0,1,0,1,5,1,0,1,1,6,-1,1,1,1,0,0,0,-1,0
P/E,19.8,89.0,9.3,10.0,-2162.6,27.0,16.8,21.7,-20.8,15.9,11.4,2.6,12.8,10.1,7.3,47.4,-99.5,25.1,-0.7
PEG,-1.5,-1.0,0.9,0.2,22.5,1.9,-2.5,-0.7,0.1,-0.6,5.3,0.0,-4.2,0.0,5.7,-0.9,0.9,-0.9,0.7
P/B,4.9,4.4,2.3,2.3,7.8,2.3,6.8,1.3,2.0,1.0,1.8,1.1,1.4,1.2,0.8,0.6,1.1,0.7,0.2
EV/EBITDA,14.9,21.5,9.0,8.8,71.6,-273.9,13.4,11.1,-1216.0,9.9,11.6,-7.3,9.6,6.3,10.3,7.6,23.7,15.6,-3.0
C·ªï t·ª©c,0.052,0.009,0.0,0.0,0.0,0.086,0.033,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ROE,0.243,0.047,0.287,0.243,-0.004,0.089,0.459,0.061,-0.09,0.065,0.165,0.518,0.109,0.131,0.114,0.013,-0.01,0.028,-0.281
ROA,0.157,0.01,0.183,0.159,-0.001,0.049,0.213,0.019,-0.038,0.017,0.144,0.462,0.069,0.073,0.081,0.008,-0.003,0.025,-0.155
Thanh to√°n l√£i vay,26.3,0.6,12.2,15.0,1.0,-4.3,21.7,0.9,-0.8,1.7,NaN,-245.5,58.4,0.6,19.9,1.7,0.5,4.5,-4.3
Thanh to√°n hi·ªán h√†nh,2.4,0.8,2.6,2.0,1.0,1.9,1.3,1.2,1.3,1.2,6.8,7.5,2.5,2.0,2.7,1.3,0.9,9.3,0.3
Thanh to√°n nhanh,2.0,0.6,2.4,1.5,0.4,1.6,1.1,0.9,1.1,0.9,6.0,7.2,1.7,1.7,2.6,0.4,0.3,7.5,0.3
Bi√™n LNG,0.405,0.286,0.46,0.316,0.085,0.139,0.396,0.118,0.114,0.195,0.314,NaN,0.232,0.333,0.292,0.069,0.037,0.041,0.729
Bi√™n LNST,0.145,0.006,0.251,0.226,0.0,0.398,0.133,0.011,NaN,0.022,0.117,NaN,0.035,0.322,0.332,0.009,0.0,0.022,NaN
N·ª£/V·ªën CSH,0.2,1.8,0.3,0.4,1.8,0.4,0.5,1.1,1.1,1.2,0.0,0.0,0.0,0.1,0.0,0.4,1.7,0.0,0.5
N·ª£/EBITDA,0.7,7.2,1.1,1.2,12.2,-49.3,0.8,5.9,-407.3,4.2,0.0,-0.2,0.8,0.7,0.4,2.8,16.4,0.6,-2.0
LNST 5 nƒÉm,-0.037,0.028,0.207,0.046,NaN,-0.04,NaN,0.12,NaN,0.001,0.098,NaN,0.012,NaN,0.065,-0.1,-0.157,-0.081,NaN
Doanh thu 5 nƒÉm,0.033,0.152,0.153,0.016,-0.053,0.123,NaN,0.22,-0.239,0.274,0.049,-0.181,-0.002,-0.018,0.088,-0.008,0.067,0.16,-0.474
LNST qu√Ω g·∫ßn nh·∫•t,0.184,-0.51,0.179,1.25,NaN,NaN,0.073,-0.5,NaN,0.555,-0.088,NaN,-0.197,NaN,-0.098,-0.114,-0.942,-0.177,NaN
Doanh thu qu√Ω g·∫ßn nh·∫•t,0.092,-0.005,0.073,0.48,0.537,0.12,0.113,0.191,0.064,0.096,0.076,1.434,-0.096,0.131,0.008,0.774,0.048,-0.104,0.004
LNST nƒÉm t·ªõi,0.005,-0.608,0.26,0.503,-0.939,0.294,0.074,0.047,-0.719,-0.041,0.083,0.116,-0.034,6.025,0.09,1.074,0.813,0.022,NaN
Doanh thu nƒÉm t·ªõi,0.05,0.05,0.3,0.31,0.03,-0.3,0.1,0.1,-0.7,0.05,0.05,0.15,0.1,-0.5,0.3,0.05,-0.06,0.02,NaN
RSI,71.5,50.8,63.8,57.8,71.7,74.7,45.4,54.7,46.1,51.7,40.3,55.8,53.2,44.9,45.7,54.1,80.2,55.8,27.3
rs,56.0,32.0,55.0,58.0,100.0,58.0,55.0,47.0,26.0,53.0,30.0,45.0,32.0,48.0,22.0,56.0,52.0,NaN,70.0

#### üî¨ Stocks List Analysis

In [31]:
stock_ls_analysis("TCB, BID, CEO, GMD")

M√£ CP                           GMD     BID    CEO     TCB
V·ªën h√≥a (t·ª∑)                  18896  237498  13433  121345
Gi√°                           62700   46950  26100   34500
S·ªë phi√™n tƒÉng/gi·∫£m li√™n ti·∫øp      4       4      1       2
P/E                             8.3    11.7   47.0     6.8
PEG                             0.1     0.2    3.2    -0.6
P/B                             2.2     2.1    4.0     1.0
C·ªï t·ª©c                          0.0     0.0    0.0     0.0
ROE                           0.294   0.203   0.09   0.158
ROA                            0.18    0.01   0.04   0.026
N·ª£/V·ªën CSH                      0.2    17.6    0.2     5.0
LNST 5 nƒÉm                    0.144   0.218  0.094   0.256
Doanh thu 5 nƒÉm              -0.004   0.123  0.068     0.2
LNST qu√Ω g·∫ßn nh·∫•t             7.163  -0.008  0.412  -0.009
Doanh thu qu√Ω g·∫ßn nh·∫•t        0.011  -0.001 -0.073   0.003
LNST nƒÉm t·ªõi                  1.288  -0.023 -0.012  -0.084
Doanh thu nƒÉm t·ªõi               0.0   0.124   -0.1   0.084
RSI                            72.4    53.8   67.2    58.8
RS                             85.0    61.0   67.0    52.0

### Rating & Evaluation

#### ‚≠êGeneral Rating

In [32]:
general_rating("VNM")

,stockRating,valuation,financialHealth,businessModel,businessOperation,rsRating,taScore,ticker,highestPrice,lowestPrice,priceChange3m,priceChange1y,beta,alpha
0,3.7,1.4,4.8,3.9,2.8,2.2,1.0,VNM,80815.2,63390.9,0.22,0.084,0.41,0.0019

#### üå± Business Model Rating

In [33]:
biz_model_rating("VNM")

,ticker,businessModel,businessEfficiency,assetQuality,cashFlowQuality,bom,businessAdministration,productService,businessAdvantage,companyPosition,industry,operationRisk
0,VNM,3.9,3,4,4,4,4,4,4,4,4,4

#### üéÆ Business Operation Rating

In [34]:
biz_operation_rating("VNM")

,industryEn,loanGrowth,depositGrowth,netInterestIncomeGrowth,netInterestMargin,costToIncome,netIncomeTOI,ticker,businessOperation,avgROE,avgROA,last5yearsNetProfitGrowth,last5yearsRevenueGrowth,last5yearsOperatingProfitGrowth,last5yearsEBITDAGrowth,last5yearsFCFFGrowth,lastYearGrossProfitMargin,lastYearOperatingProfitMargin,lastYearNetProfitMargin,TOIGrowth
0,Food Products,None,None,None,None,None,None,VNM,2.8,5,5,1,2,1,1,2,4,3,3,None

#### üìë Financial Health Rating

In [35]:
financial_health_rating("VNM")

,industryEn,loanDeposit,badLoanGrossLoan,badLoanAsset,provisionBadLoan,ticker,financialHealth,netDebtEquity,currentRatio,quickRatio,interestCoverage,netDebtEBITDA
0,Food Products,None,None,None,None,VNM,4.8,4,5,5,5,5

#### üí≤ Valuation Rating

In [36]:
valuation_rating("VNM")

      industryEn ticker  valuation  pe  pb  ps  evebitda  dividendRate
0  Food Products    VNM        1.4   1   1   1         1             4

#### üí≥ Industry Financial Health

In [37]:
industry_financial_health("VNM")

,industryEn,loanDeposit,badLoanGrossLoan,badLoanAsset,provisionBadLoan,ticker,financialHealth,netDebtEquity,currentRatio,quickRatio,interestCoverage,netDebtEBITDA
0,None,None,None,None,None,VNM,3.4,4,3,3,3,3

## üîé Stock Filter

In [38]:
params = {
            "exchangeName": "HOSE,HNX,UPCOM",
            "marketCap": (100, 1000),
            "dividendYield": (5, 10)
        }

# √Åp d·ª•ng b·ªô l·ªçc v·ªõi h√†m ƒë·ªÉ l·∫•y k·∫øt qu·∫£

df = stock_screening_insights (params, size=1700, drop_lang='vi')
df

,ticker,companyName,marketCap,roe,stockRating,businessOperation,businessModel,financialHealth,alpha,beta,...,priceVsSMA100.en,foreignTransaction.en,bollingBandSignal.en,breakout.en,uptrend.en,priceVsSMA5.en,priceVsSma10.en,sarVsMacdHist.en,tcbsRecommend.en,heatingUp.en
0,AAM,,113,3.9,3.9,2.0,NaN,4.2,0.1,0.5,...,Price above SMA(100),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ABT,,410,13.6,4.0,3.0,3.0,4.4,0.2,0.6,...,Price above SMA(100),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ACL,,717,3.5,4.0,2.8,3.0,2.4,-0.3,1.2,...,Price above SMA(100),Buy > Sell,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BMC,,187,8.3,4.1,2.5,3.5,4.2,0.0,1.3,...,Price above SMA(100),Buy < Sell,Sell signal,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BTP,,980,9.2,3.8,1.6,3.5,4.8,-0.1,0.4,...,Price above SMA(100),Buy > Sell,NaN,Buy Signal,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,VCC,,191,7.5,3.1,1.4,NaN,2.0,-0.2,0.6,...,Price above SMA(100),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,VID,,247,3.7,4.0,2.3,NaN,2.8,-0.1,0.3,...,Price above SMA(100),Buy < Sell,NaN,NaN,NaN,NaN,Price cross above SMA(10),NaN,NaN,NaN
60,VNF,,295,-0.7,4.0,1.5,3.1,5.0,-0.5,0.5,...,Price below SMA(100),NaN,NaN,NaN,NaN,NaN,Price cross below SMA(10),NaN,NaN,NaN
61,VRG,,758,21.0,3.9,3.6,3.0,4.2,0.0,-0.3,...,Price above SMA(100),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,WSB,,754,8.5,3.9,1.7,2.8,4.2,0.0,0.3,...,Price above SMA(100),Buy > Sell,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 2.5. üß∞ Trading Center

#### üî• Intraday Trading Data

In [39]:
stock_intraday_data(symbol='GMD', page_size=1000)

    ticker      time  orderType investorType  volume  averagePrice  orderCount
0      GMD  13:48:37     Buy Up        SHEEP  1000.0       63800.0         1.0
1      GMD  13:47:51     Buy Up        SHEEP   500.0       63800.0         1.0
2      GMD  13:47:50  Sell Down         WOLF  4600.0       63700.0         5.0
3      GMD  13:47:34  Sell Down        SHEEP   100.0       63700.0         1.0
4      GMD  13:47:13     Buy Up        SHEEP   200.0       63800.0         1.0
..     ...       ...        ...          ...     ...           ...         ...
731    GMD  09:15:19     Buy Up        SHEEP  3000.0       62700.0         1.0
732    GMD  09:15:13     Buy Up        SHEEP  1400.0       62700.0         2.0
733    GMD  09:15:10  Sell Down        SHEEP   100.0       62600.0         1.0
734    GMD  09:15:06     Buy Up        SHEEP   100.0       62700.0         1.0
735    GMD  09:15:05     Buy Up        SHEEP  2500.0       62700.0         1.0

[736 rows x 7 columns]

## 2.6. üõ° Derivatives

### Derivative matched data

In [ ]:
# Visit `https://livedragon.vdsc.com.vn/all/all.rv`, open `Developer Tools` (F12 or Ctrl + Shift + I) > Navigate to `Network` tab > Choose `Fetch/XHR` > Choose any requests in this tab, find in `Header` > Find `Cookie` > Copy value

cookie = 'YOUR COOKIE VALUE HERE'
derivatives_historical_match (symbol='VN30F2308', date='2023-07-24', cookie=cookie)

# III. üöö Data Export

## DataFrame to Google Sheets

D∆∞·ªõi ƒë√¢y l√† c√°ch xu·∫•t d·ªØ li·ªáu ƒë∆°n gi·∫£n qua Google Sheets, kh√¥ng c·∫ßn c√†i ƒë·∫∑t th√™m th∆∞ vi·ªán n√†o n·∫øu s·ª≠ d·ª•ng Google Colab. Kh√¥ng √°p d·ª•ng v·ªõi c√°c m√¥i tr∆∞·ªùng kh√°c 

This following code apply for export data to Google Sheets from Google Colab only. If you run this code in local machine, it will not work.

In [ ]:
df = listing_companies() # G√°n b·∫•t c·ª© h√†m n√†o cho 1 bi·∫øn ƒë·ªÉ xu·∫•t d·ªØ li·ªáu, v√≠ d·ª• ·ªü ƒë√¢y l√† listing_companies
sheet_file = 'listing_companies' # ƒê·∫∑t t√™n cho file Google Sheets s·∫Ω t·∫°o (n·∫øu t·∫°o m·ªõi, d√πng file c√≥ s·∫µn th√¨ kh√¥ng c·∫ßn)

In [ ]:
from google.colab import auth
auth.authenticate_user()

import gspread
from google.auth import default
from gspread_dataframe import set_with_dataframe

creds, _ = default()
gc = gspread.authorize(creds)from google.colab import auth
auth.authenticate_user()

import gspread
from google.auth import default
from gspread_dataframe import set_with_dataframe

creds, _ = default()
gc = gspread.authorize(creds)

### Update an entire worksheet with a DataFrame.

In [ ]:
sh = gc.create(sheet_file)
worksheet = gc.open(sheet_file).sheet1 # M·ªü sheet m·∫∑c ƒë·ªãnh ƒë·ªÉ xu·∫•t d·ªØ li·ªáu, ch·ªçn 1 trong 3 t√πy ch·ªçn v·ªõi bi·∫øn worksheet, d√πng d√≤ng n√†o b·ªè comment d√≤ng ƒë√≥, v√† comment d√≤ng kh√¥ng c·∫ßn d√πng
# worksheet = sh.add_worksheet(title="listing_companies", rows="1000", cols="20") # T·∫°o sheet m·ªõi ƒë·ªÉ xu·∫•t d·ªØ li·ªáu
# worksheet = gc.open_by_url('https://docs.google.com/spreadsheets/d/1vT6o6U1dHYMdHASZNKPvmzDRhgKTvQXsZ_46CvBOpuI').sheet1  # M·ªü file sheet c√≥ s·∫µn b·∫±ng URL
set_with_dataframe(worksheet, df)

### Update a cell range with a DataFrame

In [ ]:
worksheet = gc.open(sheet_file).sheet1 # M·ªü sheet m·∫∑c ƒë·ªãnh ƒë·ªÉ xu·∫•t d·ªØ li·ªáu, ch·ªçn 1 trong 3 t√πy ch·ªçn v·ªõi bi·∫øn worksheet, d√πng d√≤ng n√†o b·ªè comment d√≤ng ƒë√≥, v√† comment d√≤ng kh√¥ng c·∫ßn d√πng

cell_list = worksheet.range('A1:C2') # Ch·ªçn v√πng d·ªØ li·ªáu tr√™n Google Sheets b·∫°n mu·ªën ch√®n d·ªØ li·ªáu t·ª´ DataFrame
# Update the data in the worksheet

for cell, value in zip(cell_list, df.values.flatten()):
    cell.value = value

worksheet.update_cells(cell_list)